body{
    box-sizing: border-box;
}
/*SPLASH*/
.splash{

}
#rows{
    padding: 0;
    margin: 0;
}
.splash{
    background-color: #fff;
    width: 100%;
    height: 750px;
    position: absolute;
    top: 0;
    z-index: 300;
}
.fondo{
    display: block;
    margin: auto;
    margin-top: 15em;
    width: 15em;
    vertical-align: baseline;
}
/*PANTALLA INICIAL*/
#rows2{
    padding: 0;
    margin: 0;
}
#rows3{
    padding: 0;
    margin: 0;
}
#rows4{
    padding: 0;
    margin: 0;
}
#rows5{
    padding: 0;
    margin: 0;
}
.fondoPrincipal{
    background-image: url("../img/lyft-fondo-login.jpg");
    background-size: cover;

}
.btnLogin{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    margin-top: 10em;
}
.imgLyft{
    display: block;
    margin: auto;
}
#btnLg{
    float: right;
}
/*SIGN UP*/
.jumbotron{
    background-color: #ff66b3;
    color: #fff;
}
.btnSign{
    margin-top: 2em;
    background-color: transparent;
    color: #ff66b3;
}
.btnSignUp{
    margin-top: 2em;
    background-color: #ff66b3;
    color: #fff;
    border: 1px solid #ff66b3;
    width: 30%;
}
.txt-numb{
    margin-left: 5px;
    width: 15px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #000;
}
.txt-numb:focus{
    outline: none;
}
.labelCode{
    display: block;
    margin-top: 2em;
}

/*PAGINA FINAL*/
.container-ok{
    background-image: url("../img/fondoFinal.jpg");
    background-size: cover;
}
.logoFinal{
    display: block;
    margin: auto;
}
.aceptar{
    display: block;
    margin: auto;
    width: 20em;
    padding: 20px;
    margin-bottom:10em;
}